@import "~sass-pattern/sass-pattern";
@import "./steno-bar";

* {
    box-sizing: border-box;
}
::selection {
    background-color: #e6f5ff;
}
[contenteditable] {
    outline: 0;
    line-height: 2;
    &:empty:before {
        content: attr(placeholder);
        color: #ddd;
        line-height: 2;
    }
    &:empty:focus:before {
        display: none;
    }
}
body {
    @extend %SansSerif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}
html, body {
    height: 100%;
}
main {
    min-height: 100%;
    width: 36em;
    margin: 0 auto;
    color: #333;
    line-height: 2;
    box-sizing: border-box;
    padding-top: 5rem;
    header {
        border-bottom: 1px solid #dfdfdf;
        margin-bottom: 2rem;
        input {
            font-size: 2em;
            outline: 0;
            border: 0;
            width: 100%;
            margin-bottom: .5em;

            // http://stackoverflow.com/questions/31331477/text-is-moved-when-focus-in-inputtext-in-chrome
            overflow: hidden;
            line-height: 1.2;
            &:focus {
                &::-webkit-input-placeholder {
                    opacity: 0;
                }
                &::-moz-placeholder {
                    opacity: 0;
                }
                &:-ms-input-placeholder {
                    opacity: 0;
                }
            }
        }
    }
}
main {
    display: flex;
    flex-direction: column;
}
.steno {
    flex: 1;
    display: flex;
    article {
        flex: 1;
    }
}

.steno {
    position: relative;
}
.steno-workspace {
    margin-bottom: 5rem;
    figure {
        position: relative;
        z-index: 2;
        margin: 1rem 0;
        & + figure {
            margin-top: 2rem;
        }
    }
    figcaption {
        text-align: center;
        color: gray;
    }
    img {
        display: block;
        max-width: 100%;
        cursor: default;
        margin: 0 auto;
    }
    a {
        color: #2e963d;
    }
    p {
        margin: 0;
        text-align: justify;
    }
}

.steno-menu {
    @extend %StenoBar;
    top: 0;
    left: 0;
    line-height: normal;
    &:after {
        left: 100%;
        top: 50%;
    }
    input[type="file"] {
        width: 1rem;
        height: 1rem;
        opacity: 0;
        padding: 1em 1.2em;
    }
}
.steno-menu-image {
    position: relative;
    overflow: hidden;
    .icon-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
    }
}
.steno-menu-wrapper {
    li {
        display: block;
        cursor: pointer;
    }
}
.steno-menu {
    transform: translateX(calc(-100% - 10px));
}
.steno-toolbar {
    @extend %StenoBar;
    white-space: nowrap;
    li {
        display: inline-block;
        &:first-child {
            button {
                padding-left: 1em;
            }
        }
        &:last-child {
            button {
                padding-right: 1em;
            }
        }
    }
    &:after {
        left: 50%;
        top: 100%;
    }
}
.steno-toolbar-link {
    padding: .5em 1.2em;
    input {
        width: 20em;
        border: 0;
        line-height: 2;
        padding: .1em .6em;
        outline: 0;
        vertical-align: middle;
        margin: 0;
    }
}
.steno-toolbar-buttons,
.steno-toolbar-link {
    &.is-hidden {
        display: none;
    }
}
.steno-workspace {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: -5px; // in case that selection is visually overflow
        bottom: 0;
        left: -5px;
        background-image: linear-gradient(to bottom, #fff, #fff 20%, transparent 20%, transparent 80%, #fff 80%);
        background-size: 100% 2em;
        background-repeat: repeat;
        pointer-events: none;
    }
}
